<!DOCTYPE html>

<head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
        rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>

    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1u8WOCdAozqlvCG3ClBA5oWKbjaFRjRg&libraries=places&callback=initMap">
        </script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script type="text/javascript" src="/javascripts/uuid.js"></script>
    <script type='text/javascript'>
        var socket = io();
    </script>
    <script async="false" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBawPdpCizu3FTgRtO8Rxf9ZdKcg-39Fxo&libraries=places&callback=initMap"></script>

    <script type="text/javascript" src="/javascripts/chat.js"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script type="text/javascript" src="/javascripts/markers.js"></script>
    <script type="text/javascript" src="/javascripts/directions.js"></script>

    <link href="/stylesheets/chat.css" rel="stylesheet" />
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto', 'sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

        #warnings-panel {
            width: 100%;
            height: 10%;
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            {{!-- Title --}}
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ontas</a>
            </div>
            {{!-- Log in --}}
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> New User</a></li>-->
                <li><a href="#" onclick="showDialog()"><span class="glyphicon glyphicon-log-in"></span><b id="lblLogin">
                            Login</b></a></li>
            </ul>
        </div>
    </nav>
    <!-- /.Navbar -->
    <div id="floating-panel"></div>
    <div id="map" style=""></div>
    <div id="warnings-panel"></div>

    <script type="text/javascript" src="/javascripts/script.js"></script>
    <div id="contenidoChat" style="position: fixed;bottom: 0px;">
        <div class="borderChat boxShadowChat" id="usuariosLogeados"
            style="width: 200px;height: 230px;border:0px solid #ccc;position:relative;bottom:  0px;z-index: 9;background: #fff;max-height: 230px;margin-left: 10px;-webkit-transition: max-height 0.8s;-moz-transition: max-height 0.8s;transition: max-height 0.8s;float:left;margin-left:20px">
            <div class="borderChat" style="border: 0px solid #ccc;height: 35px;background-color: #FBFBFB;">
                <span style="padding-left: 25px;padding-top: 9px;position: absolute;color: #969696;">Usuarios</span>
                <span id="SalirChatUsuarios" onclick="salirSistema();" data-abierto="0"
                    class="glyphicon glyphicon-log-out"
                    style="color: #969696;position: absolute;right: 0px;padding-top: 10px;padding-right: 10px;cursor: pointer;"></span>
                <span class="glyphicon glyphicon-user"
                    style="font-size: 15px;padding-top: 10px;position: absolute;padding-left: 5px;color: #969696;"></span>
            </div>
            <div id="usuariosLinea"
                style="padding-top: 5px;padding-left: 5px;overflow-y:  scroll;max-height:  230px;height: 195px;">
            </div>
        </div>
    </div>

    <div id='contenidoModal'></div>

    {{!-- Dropdown --}}
    <div class="container-fluid" id='menu_routes' style="background-color: #FBFBFB">
        <select id="dropdown_types">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
        </select>
        <button type="button" class="btn btn-primary">Calcular ruta</button>
    </div>
</body>

</html>